body {
    font: arial,sans-serif;
    height: 100%
   }
   
   a {
     text-decoration: none;
     color: black;
     opacity: .75;
     margin: 10px;
    padding-top: 30px;
    vertical-align: top;
    font-size: 14px;
   }
   button:focus {
       outline:0;
    }
    input:focus {
        outline:0;
    }
   
    input [type="search"] {
        font-size: 45px;
    }
   #nav {
     display: flex;
     justify-content: space-between;
     position: relative;
     top: 0;
   }

   #bottom-nav {
      display: flex;
      justify-content: space-between;
      position: fixed;
      padding: .8em;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #f2f2f2;
      border-top: #e6e3e3;
      border-top-width: 1px;
      border-top-style: solid;
   }

   #bottom-nav a {
       vertical-align: middle;
   }
   
   #top-left {
     margin: 7px 0 0 10px;
   }

   #top-right {
    margin: 7px 0 0 10px;
   }

   #top-right img {
       padding-right: 10px;
   }
   #top-right button {
        border-radius: 5px;
        border: 1px solid #4285f4;
        font-weight: bold;
        color: white;
        background-color: #4285f4;
        vertical-align: top;
        display: inline-block;
        line-height: 20px;
   }
   
   #search-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        right: 35%;
        top: 30%;
        font-size: 14px;
   }
   #google-logo {
        height: 92px;
        width: 272px;
        padding: 15px;
   }

   #search-bar {
    width: 500px;
    height: 39px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    
   }

   .search-buttons {
    background-color: #f2f2f2;
    height: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
   }

   .search-buttons:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
   }

  #search-bar:hover #search-bar:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }
